<div style="width:400px">
    <form (ngSubmit)=" onSubmit()">
        <div class="form-group">
            <label for="id">Customer Id</label>
            <input type="text" class="form-control" id="id" required [(ngModel)]="custo.id" name="id">
      
        </div>
        <div class="form-group">
            <label for="name">Customer Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="custo.name" name="name">
        </div>
        <div class="form-group">
            <label for="pro">Choose a product</label>
            <select name="pro" id="pro" #selectedProduct>
                <option *ngFor="let p of products | async ; let i = index"  value="{{i}}" >{{p.productName}}</option>

            </select> 
            <button type="button" (click)="addItemProduct(selectedProduct.value)" class="btn btn-info" style="margin-left: 10px">Add More Items</button>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div>
    <h4>You Submitted Successfully</h4>

</div>